<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tc="https://github.com/Serbroda/thymeleaf-component-dialect">
<head>
</head>
<body>
    <div th:fragment="panel(title)">
        <div class="card">
            <div class="card-header">
                <tc:content name="header"><b th:text="${title}"></b></tc:content>
            </div>
            <div class="card-body">
                <tc:content></tc:content>
            </div>
            <div class="card-footer text-muted">
                <tc:content name="footer">
                    <tc:link tc:constructor="@{/}, home"><span th:text="${greeting}"></span></tc:link>
                </tc:content>
            </div>
        </div>
    </div>
</body>
</html>
