<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tc="http://www.morphbit.com/thymeleaf/component">
<head>
    <title>Thymeleaf Component Dialect - Demo</title>
    
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
</head>
<body>
	<h1>Thymeleaf Component Dialect - Demo</h1>

    <div class="container">
        <tc:component name="components/panel :: panel('Ein Panel')">
            <span>Test span</span>
            <tc:component name="components/link :: link(@{/}, 'plus')">
                <i class="glyphicon glyphicon-home"></i>
                <span th:text="${msg}">Nested test link</span>
            </tc:component>
        </tc:component>
    </div>
    
    <tc-panel param="'Noch ein panel'">
    </tc-panel>
    
</body>
</html>