<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tc="http://www.morphbit.com/thymeleaf/component">
<head>

	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	
    <title>Thymeleaf Component Dialect - Demo</title>
</head>
<body>

    <tc:menu>
        <tc:menu-item text="Home" active href="@{/}"/>
        <tc:menu-item text="GitHub" href="@{https://github.com/Serbroda/thymeleaf-component-dialect}" blank/>
        <tc:menu-item text="Demo" href="@{https://github.com/Serbroda/thymeleaf-component-dialect-demo}" blank/>
    </tc:menu>
        
    <div class="container">
        <h1>Thymeleaf Component Dialect - Demo</h1>

        <tc:panel params="'Countries'" th:if="${countries != null}">
        	
        	<form th:action="@{/country/add}" method="post" th:object="${country}" style="margin-bottom: 10px">
	        	<tc:floating params="'ISO CODE'" md="4">
	        		<input type="text" class="form-control" th:field="*{isoCode}" required="required"/>
	        	</tc:floating>
	        	<tc:floating params="'Name'">
	        		<input type="text" class="form-control" th:field="*{name}" required="required"/>
	        	</tc:floating>
	        	<button type="submit" class="btn btn-primary">Add country</button>
        	</form>
        	
        	
            <tc:button-group>
            	<tc:button 
            		th:each="country : ${countries}" 
            		id="${country.isoCode}" 
            		click="'logAndAlert(\'' + ${country.name} + '\')'">
            		<span><i class="glyphicon glyphicon-globe"></i> [[${country.name}]]</span>
            	</tc:button>
            </tc:button-group>
        </tc:panel>
        
        <tc:console></tc:console>
        
    </div>
</body>
</html>